<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.codetribe.kid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notifications.Eventhelper"
            android:label="Events"
       />

        <activity android:name=".aboutus.AboutActivity"

            android:label="About us"/>
        <activity android:name=".activities.ActivityEditsHelper"
            android:label="Activities"/>

        <activity android:name=".activities.ActivitiesActivity"
            android:label="Activities"/>

        <activity android:name=".InquriesActivity"
            android:label="Inquries"/>

        <activity android:name=".notifications.NotificationsActivity"
            android:label="Notification"/>

        <activity android:name=".profile.Register"

            android:label=" Register"/>


        <activity android:name=".gallery.GallaryActivity"
            android:label="Gallery"/>

        <activity android:name=".profile.ProfileActivity"
            android:label="Profile"/>

        <activity android:name=".profile.ViewProfileActivity"

            android:label=" View Profile"/>
        <activity android:name=".HomeActivity"

            android:label="Gallery"/>

       <activity
            android:name=".gallery.ImageDisplayActivity"
            android:label="Gallery" />

        <activity
            android:name=".gallery.GallaryActivityParent"
            android:label="Gallery Parent" />

        <activity android:name=".notifications.Parent_event"></activity>
    </application>

</manifest>